<!-- left -->
<div id="left">
	<div class="media user-media bg-dark dker">
		<div class="user-media-toggleHover">
			<span class="fa fa-user"></span>
		</div>
		<div class="user-wrapper bg-light">
			<a class="user-link" href=""> <img
				class="media-object img-thumbnail user-img" alt="User Picture"
				src="assets/img/user.gif"> <span
				class="label label-danger user-label">16</span>
			</a>

			<div class="media-body">
				<h5 class="media-heading">Usuario</h5>
				<ul class="list-unstyled user-info">
					<li><a href="">Administrador</a></li>
					<li>Ultimo acceso: <br> <small><i
							class="fa fa-calendar"></i>&nbsp;16 Mar 16:32</small>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- #menu -->
	<ul id="menu" class="bg-light dker">
		<li class="nav-header">Menu</li>
		<li class="nav-divider"></li>
		<li class=""><a href="/"><i class="fas fa-tachometer-alt"></i><span
				class="link-title">&nbsp;Dashboard</span> </a></li>
		<li class=""><a href="javascript:;"> <i
				class="fa fa-building "></i> <span class="link-title">&nbsp;Almacen</span>
				<span class="fas fa-angle-down"></span>
		</a>
			<ul class="collapse">
				<li><a href="/inventario"> <i class="fa fa-angle-right"></i>&nbsp;
						Inventario
				</a></li>
				<li><a href="/productos"> <i class="fa fa-angle-right"></i>&nbsp;
						Productos
				</a></li>
				<li><a href="/marcas"> <i class="fa fa-angle-right"></i>&nbsp;
						Marcas
				</a></li>
			</ul></li>
		<li class=""><a href="javascript:;"><i class="fas fa-hand-holding-usd"></i>
				<span class="link-title">&nbsp;Ventas</span> <span
				class="fas fa-angle-down"></span>
		</a>
			<ul class="collapse">
				<li><a href="bgcolor.html"> <i class="fa fa-angle-right"></i>&nbsp;
						Ventas
				</a></li>
				<li><a href="bgimage.html"> <i class="fa fa-angle-right"></i>&nbsp;
						Historico
				</a></li>
			</ul></li>
		<li class=""><a href="/productos"><i class="fas fa-shopping-bag"></i><span
				class="link-title">&nbsp;Pedidos</span> </a></li>
		<li class=""><a href="/productos"><i class="fab fa-product-hunt"></i><span
				class="link-title">&nbsp;Productos</span> </a></li>
		<li class="nav-divider"></li>
		<li><a href="login.html"> <i class="fas fa-sign-in-alt"></i>
				<span class="link-title"> Login Page </span>
		</a></li>
	</ul>
	<!-- /#menu -->
</div>
<!-- /#left -->